/* ============================== [ GLOBAL ] ============================== */
/* ============================== [ GLOBAL ] ============================== */

html, body {
  font-family: 'Exo2', sans-serif;
  color: #000000;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.container__pole{
  max-width: 1385px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.burger{
  display: none;
}
.mob__logo{
  display: none;
}
/* ============================== [ BREADCRUMB ] ============================== */
.breadcrumb__block{
  padding-bottom: 55px;
}
/* Стиль списка */
ul.breadcrumb {
  padding: 21px 0px;
  list-style: none;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-weight: 500;
  font-size: 14px
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
  padding: 3px;
  color: #333333;;
  content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: #11c3db;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #11c3db;
  text-decoration: underline;
}
/* ============================== [ HEADER ] ============================== */
/* ============================== [ HEADER ] ============================== */



.header {
  color: #fff;
  background: url(../images/global/header-img.jpg) 50% 50% / cover no-repeat;
}
.mobile-menu {
  font-family: 'Montserrat', sans-serif;
}
.container {
}
.header__inner {
  padding: 30px 0px;
  position: relative;
}
.header__content-menu {
}
.menu{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-basis: 350px;
}
.menu__item {
}
.menu__link{
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding: 3px;
}
.menu__link:hover{
  color: #11c3db;
}
.menu__link:active{
  color: #11c3db;
}
.header__link-active{
  color: #11c3db;
  border: 2px solid;
  border-radius: 10px;
}
.header__info {
  position: relative;
  padding-left: 34px;
  margin-right: auto;
}
.header__info::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/navigationarrow-footer.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

.header__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.header__timework {
  font-size: 10px;
  line-height: 120%;
  color: #A9A9A9;
}
.logo__container{
  position: absolute;
  top: 12.5%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  left: 50%;
}
.header__logo {
  position: relative;
}
.logo {
  left: -55px;
  position: absolute;
  z-index: 1;
}
.header__content-info{
  display: flex;
  justify-content: space-around;

}
.header__wantphone {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header__tel {
  margin-right: 15px;
  position: relative;
  padding-left: 34px;
}
.header__tel::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/phoneсall-footer.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.header__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}
.header__wantphone-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #777777;
}
.header__call {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  padding: 9px 11px; 
  border: 1px solid #044459;
  border-radius: 10px;
}

/* ============================== [ ABOUTUS ] ============================== */
/* ============================== [ ABOUTUS ] ============================== */
.main{

}


.contacts {
  position: relative;
}
.maps__block{
  position: absolute;
  z-index: -10000;
}
.contacts__inner{
}
.contacts__content {
  position: absolute;
  top: 250px;
  padding: 55px 70px;
  background: #044459;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.contacts__heading {
  margin-bottom: 22px;
}
.contacts__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
}
.contacts__wantphone {
  display: flex;
  margin-bottom: 21px;
}
.contacts__tel {
  margin-right: 15px;
  position: relative;
  padding-left: 34px;
}
.contacts__tel::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/phonecall-header.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.contacts__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.contacts__wantphone-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #A9A9A9;
}
.contacts__call {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  padding: 9px 11px;
  border: 1px solid #C6C6C6;
  border-radius: 10px;
}
.contacts__info {
  position: relative;
  padding-left: 34px;
}
.contacts__info::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/navigationarrow-header.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.contacts__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.contacts__timework {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #A9A9A9;
}
/* ============================== [ FOOTER ] ============================== */
/* ============================== [ FOOTER ] ============================== */


.footer__bottom {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #B5B5B5;
}
.footer__bottom-maps  {
  margin: 0 auto 30px;
  height: 60px;
  width: 100%;
  max-width: 491px;
}
.footer__bottom-info {
  margin: 0 auto;
  max-width: 765px;
  display: flex;
  justify-content: space-between;
}






/* ============================== [ MEDIA ] ============================== */
/* ============================== [ MEDIA ] ============================== */


@media(max-width:1100px){
	.container{
		max-width: 900px;
	}
}
@media(max-width:860px){
/* ============================== [ HEADER ] ============================== */
  /* Бургер меню */
/* ============================ */
  .menu-bar {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
    background-color: #337AB7;
    border-radius: 50%;
    border: 4px solid #BFE2FF;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 9999999;
    box-sizing: content-box;
}
.menu-bar span {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    display: inline-block;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 22px;
}
.menu-bar span:before,
.menu-bar span:after {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 30px;
}
.menu-bar span:before {
    top: -8px;
}
.menu-bar span:after {
    top: 8px;
}
.triggered .menu-bar span {
    width: 0;
}
.triggered .menu-bar span:before {
    transform: rotate(45deg);
    top: 0;
}
.triggered .menu-bar span:after {
    transform: rotate(-45deg);
    top: 0;
}
.menu {
    transition: all 0.3s ease-in-out;
    background-color: #0b4f8a;
    height: 100vh;
    opacity: 0;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100vw;
    z-index: 9999998;
    overflow-y: auto;
    display: block;
}
.menu__list{
  display: block;
}
.header__link-active{
  border: none;
}
.menu ul {
    transition: all 0.3s ease-in-out;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    transition: all 0.3s ease-in-out;
}
.menu ul li a {
    color: #fff;
    display: inline-block;
    font-family: Verdana, sans-serif;  
    font-size: 20px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    outline: none;
}
.menu ul li span {
    display: inline-block;
    height: 24px;
    top: 5px;
    position: relative;
    width: 24px;
}
.menu ul li span:before,
.menu ul li span:after {
    background-color: #BFE2FF;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 15px;
}
.menu ul li span:before {
    top: 50%;
    transform: translateY(-50%);
}
.menu ul li span:after {
    transition: all 0.15s ease-in-out;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
.menu ul li span.subtriggered:after {
    transform: translateY(-50%) rotate(0);
}
.menu ul li ul li a {
    padding: 8px 30px;
    font-size: 18px;
    color: #BFE2FF;
}
.triggered .menu {
    opacity: 1;
    transform: translateY(0);
}
.menu ul ul {
    display: none;
}
.menu ul .subtriggered + ul {
    display: block;
}   
/* ============================ */

.mob__logo{
  display: block;
}
.mob__logo img{
  width: 80%;
}
.header__logo{
  display: none;
}
.header__content-info{
  justify-content: space-between;
}
.header__wantphone{
  margin-right: 0;
}
.header__info{
  display: none;
}
/* ============================== [ HEADER ] ============================== */
}
@media(max-width:650px){
  .contacts__content{
    position: absolute;
    top: 50px;
    padding: 35px 25px;
  }
}
@media(max-width:500px){
  /* ============================== [ HEADER ] ============================== */
  .header__content-info{
    align-items: center;
  }
  .header__inner{
    padding: 25px 0px;
  }
  .header__wantphone{
    flex-direction: column;
    align-items: flex-end ;
  }
  .header__tel{
    margin: 0px 0px 20px 0px;
  }
  .header__call {
  border: 3px solid #044459;
  border-radius: 10px;
  }
  /* ============================== [ HEADER ] ============================== */
}
@media(max-width:400px){
  .contacts__wantphone{
    flex-direction: column;
  }
  .contacts__tel{
    margin: 0px 0px 15px 0px;
  }
  .contacts__title{
    font-size: 17px;
  }
  .contacts__phone{
    font-size: 14px;
  }
}