/* ============================== [ GLOBAL ] ============================== */
/* ============================== [ GLOBAL ] ============================== */

html, body {
  font-family: 'Exo2', sans-serif;
  color: #000000;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.container__pole{
  max-width: 1385px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.burger{
  display: none;
}
.mob__logo{
  display: none;
}
/* ============================== [ BREADCRUMB ] ============================== */
.breadcrumb__block{
  padding-bottom: 55px;
}
/* Стиль списка */
ul.breadcrumb {
  padding: 21px 0px;
  list-style: none;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-weight: 500;
  font-size: 14px
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
  padding: 3px;
  color: #333333;;
  content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: #11c3db;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #11c3db;
  text-decoration: underline;
}
/* ============================== [ HEADER ] ============================== */
/* ============================== [ HEADER ] ============================== */



.header {
  color: #fff;
  background: url(../images/global/header-img.jpg) 50% 50% / cover no-repeat;
}
.mobile-menu {
  font-family: 'Montserrat', sans-serif;
}
.container {
}
.header__inner {
  padding: 30px 0px;
  position: relative;
}
.header__content-menu {
}
.menu{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-basis: 350px;
}
.menu__item {
}
.menu__link{
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding: 3px;
}
.menu__link:hover{
  color: #11c3db;
}
.menu__link:active{
  color: #11c3db;
}
.header__link-active{
  color: #11c3db;
  border: 2px solid;
  border-radius: 10px;
}
.header__info {
  position: relative;
  padding-left: 34px;
  margin-right: auto;
}
.header__info::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/navigationarrow-footer.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

.header__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.header__timework {
  font-size: 10px;
  line-height: 120%;
  color: #A9A9A9;
}
.logo__container{
  position: absolute;
  top: 12.5%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  left: 50%;
}
.header__logo {
  position: relative;
}
.logo {
  left: -55px;
  position: absolute;
  z-index: 1;
}
.header__content-info{
  display: flex;
  justify-content: space-around;

}
.header__wantphone {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.header__tel {
  margin-right: 15px;
  position: relative;
  padding-left: 34px;
}
.header__tel::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/phoneсall-footer.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.header__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}
.header__wantphone-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #777777;
}
.header__call {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  padding: 9px 11px; 
  border: 1px solid #044459;
  border-radius: 10px;
}

/* ============================== [ INTERNAL ] ============================== */
/* ============================== [ INTERNAL ] ============================== */

.internal__inner{
  display: flex;
}

.internal__project {
  background: rgba(4, 68, 89, 0.95);
  backdrop-filter: blur(15px);
  border-radius: 0px 0px 30px 30px;
  max-width: 555px;
  padding: 0px 55px 55px 55px;
  margin-right: 100px;
}
.breadcrumb__block {
}
.breadcrumb {
}
.internal__project-box {
}
.project__heading {
  margin-bottom: 25px;
}
.project__title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
}
.project__swiper {
  width: 100%;
  height: 270px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.mySwiper {
  margin-bottom: 40px;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  overflow: hidden;
  width: 100%;
  height: 320px;
  position: relative;
}
.swiper-slide-img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 5px;
  height: 320px;
}
.swiper-next, .swiper-prev{
  position: absolute;
  top: 45%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-next{
  background: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  right: 10px;
  left: auto;
}
.swiper-prev{
  background: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 10px;
  right: auto;
}
.project__price-box {
  display: inline-block;
  background: rgba(8, 94, 122, 0.95);
  border-radius: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 10px 25px;
  margin-bottom: 30px;
}
.project__price{
  margin-bottom: 10px;
}
.project__price:last-child{
  margin-bottom: 0px;
}
.project__btn-box {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  justify-content: space-between;
}
.project__btn-apply {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  padding: 13px 30px;
}
.project__btn-score {
  padding: 13px 30px;
  color: #044459;
  background: #D9D9D9;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
}




.internal__desc {
  max-width: 460px;
  margin-top: 85px;
}
.internal__features {
  margin-bottom: 45px;
}
.internal__features-headline {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
}
.internal__features-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #616161;
}
.internal__synopsis{
}
.internal__synopsis-headline{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 35px;
}
.internal__synopsis-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #515151;
}



/* ============================== [ FOOTER ] ============================== */
/* ============================== [ FOOTER ] ============================== */

.footer {
  padding-top: clamp(2.5rem, 0.175rem + 11.63vw, 14.125rem);
  padding-bottom: 30px;
  background: url(../images/global/Group.jpg) 50% 100% / contain no-repeat;
}
.footer__one{
}
.footer__top {
  margin-bottom: 25px;
}
.container {
}
.footer__top-inner {
}
.contact__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__footer-title {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  margin-bottom: 22px;
}
.footer__wantcall {
  display: flex;
  margin-bottom: 22px;
  position: relative;
  padding-left: 34px;
}
.footer__wantcall::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/phoneсall-footer.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.footer__wantcall-info {
  margin-right: 15px;

}
.footer__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.footer__wantphone-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #A9A9A9;
}
.footer__call {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  padding: 9px 20px;
  border: 1px solid #404040;
  border-radius: 10px;
}
.footer__info {
  margin-right: 30px;
  position: relative;
  padding-left: 34px;
}
.footer__info::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/global/navigationarrow-footer.svg) no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.footer__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.footer__timework {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #A9A9A9;
}
.footer__bottom {
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  color: #B5B5B5;
}
.footer__bottom-maps  {
  margin: 0 auto 30px;
  height: 60px;
  width: 100%;
  max-width: 491px;
}
.footer__bottom-maps img{
  width: 100%;
}
.footer__bottom-info {
  margin: 0 auto;
  max-width: 765px;
  display: flex;
  justify-content: space-between;
}





/* ============================== [ MEDIA ] ============================== */
/* ============================== [ MEDIA ] ============================== */


@media(max-width:1100px){
	.container{
		max-width: 900px;
	}
  .internal__project{
    margin-right: 20px;
  }
}
@media(max-width:900px){
  .internal__inner{
    flex-direction: column;
  }
  .internal__project{
    max-width: 100%;
    margin: 0;
  }
  .internal__desc{
    max-width: 100%;
    margin-top: 45px;
  }
}
@media(max-width:860px){
/* ============================== [ HEADER ] ============================== */
  /* Бургер меню */
/* ============================ */
  .menu-bar {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
    background-color: #337AB7;
    border-radius: 50%;
    border: 4px solid #BFE2FF;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 9999999;
    box-sizing: content-box;
}
.menu-bar span {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    display: inline-block;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 22px;
}
.menu-bar span:before,
.menu-bar span:after {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 30px;
}
.menu-bar span:before {
    top: -8px;
}
.menu-bar span:after {
    top: 8px;
}
.triggered .menu-bar span {
    width: 0;
}
.triggered .menu-bar span:before {
    transform: rotate(45deg);
    top: 0;
}
.triggered .menu-bar span:after {
    transform: rotate(-45deg);
    top: 0;
}
.menu {
    transition: all 0.3s ease-in-out;
    background-color: #0b4f8a;
    height: 100vh;
    opacity: 0;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100vw;
    z-index: 9999998;
    overflow-y: auto;
    display: block;
}
.menu__list{
  display: block;
}
.header__link-active{
  border: none;
}
.menu ul {
    transition: all 0.3s ease-in-out;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    transition: all 0.3s ease-in-out;
}
.menu ul li a {
    color: #fff;
    display: inline-block;
    font-family: Verdana, sans-serif;  
    font-size: 20px;
    padding: 8px 15px;
    position: relative;
    text-decoration: none;
    outline: none;
}
.menu ul li span {
    display: inline-block;
    height: 24px;
    top: 5px;
    position: relative;
    width: 24px;
}
.menu ul li span:before,
.menu ul li span:after {
    background-color: #BFE2FF;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 15px;
}
.menu ul li span:before {
    top: 50%;
    transform: translateY(-50%);
}
.menu ul li span:after {
    transition: all 0.15s ease-in-out;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}
.menu ul li span.subtriggered:after {
    transform: translateY(-50%) rotate(0);
}
.menu ul li ul li a {
    padding: 8px 30px;
    font-size: 18px;
    color: #BFE2FF;
}
.triggered .menu {
    opacity: 1;
    transform: translateY(0);
}
.menu ul ul {
    display: none;
}
.menu ul .subtriggered + ul {
    display: block;
}   
/* ============================ */

.mob__logo{
  display: block;
}
.mob__logo img{
  width: 80%;
}
.header__logo{
  display: none;
}
.header__content-info{
  justify-content: space-between;
}
.header__wantphone{
  margin-right: 0;
}
.header__info{
  display: none;
}
/* ============================== [ HEADER ] ============================== */
.internal__project{
  padding: 0px 25px 25px 25px;
}
}
@media(max-width:750px){
  .footer__bottom-info{
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
@media(max-width:550px){
  .footer__bottom-info{
    flex-direction: column;
  }
  .contact__footer-title{
    font-size: 18px;
  }
  .footer__phone {
    font-size: 16px;
  }
}
@media(max-width:500px){
  /* ============================== [ HEADER ] ============================== */
  .header__content-info{
    align-items: center;
  }
  .header__inner{
    padding: 25px 0px;
  }
  .header__wantphone{
    flex-direction: column;
    align-items: flex-end ;
  }
  .header__tel{
    margin: 0px 0px 20px 0px;
  }
  .header__call {
  border: 3px solid #044459;
  border-radius: 10px;
  }
  /* ============================== [ HEADER ] ============================== */

  .breadcrumb__block{
    padding: 0px;
  }
  .project__heading{
    margin-bottom: 15px;
  }
  .project__title{
    font-size: 25px;
  }
  .mySwiper{
    margin-bottom: 20px;
  }
  .project__swiper {
  height: 190px;
  }
  .swiper-next, .swiper-prev {
    width: 30px;
    height: 30px;
}
  .project__price-box{
    padding: 10px 10px;
    margin-bottom: 15px;
    font-size: 19px;
  }
  .project__btn-box{
    flex-direction: column;
  }
  .project__btn-apply{
    margin-bottom: 10px;
  }
  .internal__desc{
    margin-top: 25px;
  }
  .internal__features-headline{
    margin-bottom: 20px;
  }
  .internal__features-text {
    font-size: 16px;
  }
  .internal__features{
    margin-bottom: 25px;
  }
  .internal__synopsis-headline{
    margin-bottom: 20px;
  }
  .internal__synopsis-text{
    font-size: 16px;
  }
}
@media(max-width:400px){
  .internal__project{
    padding: 0px 15px 15px 15px;
  }
  .project__title{
    font-size: 22px;
  }
  .project__swiper {
    height: 170px;
  }
  .project__price-box {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .project__btn-apply, .project__btn-score{
    padding: 10px 30px;
    font-size: 16px;
  }
}
@media(max-width:380px){
  .contact__footer{
    align-items: inherit;
  }
  .footer__wantcall{
    flex-direction: column;
  }
  .footer__wantcall-info{
    margin: 0px 0px 15px 0px;
  }
  .footer__call{
    max-width: 140px;
  }
  .footer__bottom-maps{
    margin: 0;
  }
  
}
@media(max-width:350px){
  .project__swiper {
    height: 150px;
  }
}